*{
    font-family: 'Noto Sans Georgian', sans-serif;
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style:none;
}
$greenP: rgba(112, 193, 116, 1);
$greenS:rgba(190, 243, 192, 1);
$greenT:rgba(239, 247, 242, 1);
$primaryText: rgba(29, 33, 48, 1);
$secondaryText: rgba(82, 85, 96, 1);
$off-white: rgba(235, 240, 249, 1);
$border: rgba(229, 229, 229, 1);
@mixin shavi(){
    background: rgba(29, 33, 48, 1);
    padding: 12px 32px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    transition: 0.4s;
    cursor: pointer;
}
@mixin mwvane(){
    background: rgba(112, 193, 116, 1);
    padding: 12px 32px;
    color:$primaryText;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    transition: 0.4s;
    cursor: pointer;
}
@mixin tetri(){
    background: rgba(255, 255, 255, 1);
    padding: 12px 32px;
    color:$primaryText;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    transition: 0.4s;
    cursor: pointer;
}
nav{
    .nav-all{
        display: flex;
        justify-content: space-between;
        .logo-div{
            img{
                width:130px;
                margin-top: 14px;
                // margin-bottom: 24px;
                margin-left: 110px;
                cursor: pointer;
            }
        }
        .nav-links{
            ul{
                .but{
                    margin-top: 15px;
                }
                display: flex;
                li{
                    i{
                        display: none;
                    }
                    margin-top: 28px;
                    margin-bottom: 20px;
                    a{
                        margin-right: 40px;
                        transition: 0.2s;
                        &:hover{
                            color: $greenP;
                        }
                    }
                    button{
                        margin-right: 110px;
                        @include shavi;
                        cursor: pointer;
                        &:hover{
                            border-radius: 12px 4px;
                            background-color: $greenP;
}}}}}}}
@media(max-width:1444px){
    .logo-div{
        img{
            margin-left: 20px !important;
            margin-right: 40px !important;
}}
.but{
    button{
        margin-right: 10px !important;
    }
}
}
@media(max-width:1000px){
    .nav-links{
        ul{
            li{
                a{
                    display: none !important;
                }
                button{
                    display: none !important;
                }
                i{
                    display: flex !important;
                    font-size: 25px;
                    margin-right: 20px;
}}}}}


.info{
    margin-top: 158px;
    .abzaci-2{
        margin-left: 214px;
        display: inline-block;
        h1{
                font-size: 48px;
                font-weight: 700;
                line-height: 68px;
                letter-spacing: 0px;
                color: $primaryText;
                margin-bottom: 32px;
        }}
    .abzaci-1{
        display: flex;
        margin-left: 11px;
        margin-right:24px;
        p{
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 2px;
                color:$primaryText;
                margin-bottom: 32px;
        }
        .xazi{
                width: 72px;
                height: 1px;
                border: 2px solid rgba(29, 33, 48, 1);
                margin-left:110px;
                margin-right: 24px;
                margin-top: 8px;
            }}}
.ori-gverd{
    display: flex;
    justify-content: space-between;
    margin-right: 110px;
    img{
        margin-top: 156px;
        width:550px;
        margin-bottom: 96px;
    }
}
@media(max-width:1544px){
    .xazi{
        margin-left: 0px !important;
    }
    .abzaci-2{
        margin-left: 110px  !important;
    }
    .gundi{
        img{
            margin-left: 0px !important;
            margin-right: 0px !important;
            width:100% !important;
            height: auto;
        }
    }
}
@media(max-width:920px){
.ori-texti{
    flex-wrap: wrap;
}
}
 @media(max-width:650px){
    .abzaci-2{
        margin-left: 10px  !important;
        h1{
            font-size: 30px !important;
            font-weight: 700;
            line-height: 38px !important;
            letter-spacing: 0px;
            color: $primaryText;
            margin-bottom: 0px !important; 
        }
    }
    .text-1,.text-2{
        text-align: center;
        margin-top:40px !important;
        margin-bottom:10px !important;
    }
    .info{
        margin-top: 30px  !important;
    }
    .ori-gverd{
        flex-wrap: wrap;
        img{
            margin-top: 156px;
            width:450px;
}}}
.enviroment{
    background: rgba(239, 247, 242, 1);
    .satauri-xd{
        h1{
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
            padding-top: 96px;
            padding-bottom:64px;
            padding-left: 110px;
        }
    }
    .yvela-mwvane{
        display: flex;
        flex-direction: column;
        margin-left: 110px;
        margin-right: 110px;
        .yvela-mwvane_1{
            display: flex;
            justify-content:space-between;
            margin-bottom: 48px;
            flex-wrap: wrap;
        }
        .yvela-mwvane_2{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 96px;
        }
    }
    .seqcia-zevit{
        // display: flex;
        h3{
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
        }
    }
    .yvela-6{
        width: 384px;
        height: 100px;
        display: flex;
        img{
            width: 28px;
            height: 28px;
            margin-right:24px;
            margin-top: 5px;
        }
    }
}
@media(max-width:600px){
    .ori-gverd{
        margin-right: 0px !important;
        img{
            width: 100% !important;
            margin-top: 20px;
        }
    }
    .abzaci-1{
        p{
            text-align: center  !important;
        }
    }
    .abzaci-2{
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    .satauri-xd{
        h1{
            padding-left: 0px !important;
            padding-top: 20px !important;
        }
    }
    .yvela-mwvane{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .yvela-6{
        margin-bottom: 60px  !important;
    }
}
footer{
    background-color: black;
    color: white;
    .yvela-seqcia{
        display: flex;
        padding-top:97px;
        margin-left: 110px;
        .footer-logo img{
            width: 120px;
            margin-right:117px;
        }
      .seqcia_f_1{
        margin-right:88px;
        ul{
            li{
                margin-bottom: 24px;
                .yvela-op{
                    color: white;
                    line-height: 22px;
                    opacity: 78%;
                }
                b{
                    color: white;
                }
            }
        }

      }
      .seqcia_f_2{
        margin-right: 88px;
        ul{
            li{
                margin-bottom: 24px;
                .yvela-op{
                    color: white;
                    line-height: 22px;
                    opacity: 78%;
                    display: inline;
                }
                b{
                    color: white;
                }
            }
        }
      }
      .seqcia_f_3{
        margin-right:147px;
        ul{
            li{
                margin-bottom: 24px;
                .yvela-op{
                    color: white;
                    line-height: 22px;
                    opacity: 78%;
                }
                b{
                    color: white;
                }
            }
        }
      }
      .seqcia_f_4{
        h1{
            font-size: 40px;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: 0px;
            text-align: left;
            margin-right: 110px;
        }
        .b-inp{
            input{
                width: 536px;
                height: 64px;
                margin-top: 32px;
                background-color: black;
                border: 1px solid rgba(235, 240, 249, 0.3);
                color: white;
                margin-right: 0px;
                font-size: 18px;
            }
            input:focus{
                border: none;
            }
            button{
                @include tetri;
                padding: 22px 32px;
                margin-bottom: 98px;
                &:hover{
                    cursor: pointer;
                    background-color: $greenP;
                    color: white;
}}}}}}
@media(max-width:1500px){
    .b-inp{
        input{
            width: 300px !important;
        }
    }
}
@media(max-width:1444px){
    .yvela-seqcia{
        flex-wrap: wrap;
        justify-content: center;
    }
    .seqcia_f_4{
        margin-top: 20px;
    }
}
@media(max-width:920px){
    .yvela-seqcia{
        margin-left: 0px !important;
        padding-left: 0px !important;
        justify-content: center !important;
        text-align: center;
    }
    .footer-logo{
        width: 80px !important;
        display: none !important;
        img{
            margin-right: 80px !important;
        }
    }
}
@media(max-width:650px){
    .xazi{
        display: none;
    }
}
@media(max-width:480px){
    .seqcia_f_4{
        h1{
            margin-right: 10px !important;
        }
    }
    .xazi-event{
        display: none;
    }
    .dge{
        margin-left: 5px !important;
    }
}