* {
  font-family: "Noto Sans Georgian", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

nav .nav-all {
  display: flex;
  justify-content: space-between;
}
nav .nav-all .logo-div img {
  width: 130px;
  margin-top: 14px;
  margin-left: 110px;
  cursor: pointer;
}
nav .nav-all .nav-links ul {
  display: flex;
}
nav .nav-all .nav-links ul .but {
  margin-top: 15px;
}
nav .nav-all .nav-links ul li {
  margin-top: 28px;
  margin-bottom: 20px;
}
nav .nav-all .nav-links ul li a {
  margin-right: 40px;
  transition: 0.2s;
}
nav .nav-all .nav-links ul li a:hover {
  color: rgb(112, 193, 116);
}
nav .nav-all .nav-links ul li button {
  margin-right: 110px;
  background: rgb(29, 33, 48);
  padding: 12px 32px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  cursor: pointer;
}
nav .nav-all .nav-links ul li button:hover {
  border-radius: 12px 4px;
  background-color: rgb(112, 193, 116);
}

header {
  background: url(img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 735px;
}
header .b-info {
  margin-left: 110px;
  padding-top: 128px;
}
header .b-info h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
  color: white;
  margin-bottom: 48px;
}
header .b-info .b-buttons {
  display: flex;
}
header .b-info .b-buttons a {
  color: white;
  margin-left: 5px;
  padding-top: 7px;
}
header .b-info .b-buttons button {
  background: rgb(255, 255, 255);
  padding: 12px 32px;
  color: rgb(29, 33, 48);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  cursor: pointer;
  margin-right: 24px;
}
header .b-info .b-buttons button:hover {
  border-radius: 4px 12px;
  background-color: rgb(190, 243, 192);
}

.cont-1 {
  display: flex;
}
.cont-1 .info {
  margin-top: 158px;
}
.cont-1 .info .abzaci-1 {
  display: flex;
  margin-left: 11px;
  margin-right: 24px;
}
.cont-1 .info .abzaci-1 p {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  color: rgb(29, 33, 48);
  margin-bottom: 32px;
}
.cont-1 .info .abzaci-1 .xazi {
  width: 72px;
  height: 1px;
  border: 2px solid rgb(29, 33, 48);
  margin-left: 110px;
  margin-right: 24px;
  margin-top: 8px;
}
.cont-1 .info .abzaci-2 {
  margin-left: 214px;
  display: inline-block;
}
.cont-1 .info .abzaci-2 h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  color: rgb(29, 33, 48);
  margin-bottom: 32px;
}
.cont-1 .info .abzaci-2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  margin-bottom: 28px;
}
.cont-1 .info .abzaci-2 button {
  background: rgb(112, 193, 116);
  padding: 12px 32px;
  color: rgb(29, 33, 48);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  color: white;
  margin-top: 17px;
}
.cont-1 .info .abzaci-2 button:hover {
  background: rgb(239, 247, 242);
  color: rgb(29, 33, 48);
}
.cont-1 img {
  width: 480px;
  height: 578px;
  margin-top: 96px;
  border-radius: 12px;
  margin-right: 110px;
  margin-left: 96px;
}

#supporter {
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 64px;
}
#supporter .gv {
  display: flex;
  margin-top: 73px;
  margin-bottom: 32px;
}
#supporter .gv h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  margin-right: 24px;
}
#supporter .gv .xazi-mk {
  border: 1px solid rgb(229, 229, 229);
  width: 1487px;
  height: 1px;
  margin-top: 6px;
}
#supporter .logos {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1500px) {
  .xazi-mk {
    width: 100%;
    width: 1119px !important;
  }
}
#wwd {
  background: rgb(239, 247, 242);
}
#wwd .yvela-1 {
  display: flex;
}
#wwd .s-all {
  margin-left: 214px;
  display: flex;
}
#wwd .s-all .v-xazi {
  height: 441px;
  width: 1px;
  background: rgb(229, 229, 229);
  border: 1px solid rgb(229, 229, 229);
  margin-bottom: 96px;
}
#wwd .s-all .details-box .details {
  margin-left: 24px;
}
#wwd .s-all .details-box .details .sat {
  display: flex;
}
#wwd .s-all .details-box .details .sat img {
  width: 28px;
  height: 28px;
  margin: 0px;
  margin-right: 24px;
}
#wwd .s-all .details-box .details .sat h3 {
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
#wwd .s-all .details-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
  margin-left: 53px;
  color: rgb(82, 85, 96);
}
#wwd .dzagli_ {
  margin-top: 210px;
  margin-left: 96px;
}
#wwd .dzagli_ .dzagli_img {
  margin-right: 110px;
}

#project .cards {
  display: flex;
  justify-content: center;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 65px;
  margin-bottom: 96px;
}
#project .cards .card_1::before {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
#project .cards .card_1 {
  background: url(img/dargva.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
#project .cards .card_1 h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: white;
  margin-top: 80px;
  text-align: left;
  margin-left: 48px;
  margin-right: 48px;
}
#project .cards .card_1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
  text-align: left;
  margin-left: 48px;
  margin-right: 48px;
  color: white;
}
#project .cards .card_1 button {
  background: rgb(255, 255, 255);
  padding: 12px 32px;
  color: rgb(29, 33, 48);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 48px;
  margin-top: 64px;
  margin-bottom: 48px;
  padding: 16px 32px;
}
#project .cards .card_1 button:hover {
  background-color: rgb(112, 193, 116);
  color: white;
}
#project .cards .card_2 {
  background: url(img/clean.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 23px;
  margin-right: 23px;
  border-radius: 15px;
}
#project .cards .card_2 h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: white;
  margin-top: 80px;
  text-align: left;
  margin-left: 48px;
  margin-right: 48px;
}
#project .cards .card_2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
  text-align: left;
  margin-left: 48px;
  margin-right: 48px;
  color: white;
}
#project .cards .card_2 button {
  background: rgb(255, 255, 255);
  padding: 12px 32px;
  color: rgb(29, 33, 48);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 48px;
  margin-top: 64px;
  margin-bottom: 48px;
  padding: 16px 32px;
}
#project .cards .card_2 button:hover {
  background-color: rgb(112, 193, 116);
  color: white;
}
#project .cards .card_3 {
  background: url(img/gare.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
#project .cards .card_3 h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: white;
  margin-top: 80px;
  text-align: left;
  margin-left: 48px;
  margin-right: 48px;
}
#project .cards .card_3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
  text-align: left;
  margin-left: 48px;
  margin-right: 48px;
  color: white;
}
#project .cards .card_3 button {
  background: rgb(255, 255, 255);
  padding: 12px 32px;
  color: rgb(29, 33, 48);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 48px;
  margin-top: 64px;
  margin-bottom: 88px;
  padding: 16px 32px;
}
#project .cards .card_3 button:hover {
  background-color: rgb(112, 193, 116);
  color: white;
}

#donations {
  background-color: black;
  display: flex;
}
#donations .content-pr {
  margin-top: 142px;
  margin-left: 110px;
  padding-bottom: 141px;
}
#donations .content-pr h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
  color: white;
}
#donations .content-pr p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(177, 177, 177);
  margin-bottom: 6px;
}
#donations .content-pr .pr_1 {
  display: flex;
}
#donations .content-pr .pr_1 .tr {
  display: flex;
}
#donations .content-pr .pr_1 .tr .green {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: rgb(190, 243, 192);
  margin-right: 8px;
  margin-top: 5px;
}
#donations .content-pr .pr_1 .tr p {
  color: white;
  margin-right: 24px;
}
#donations .content-pr .pr_1 .cl {
  display: flex;
}
#donations .content-pr .pr_1 .cl .purple {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: rgb(172, 148, 241);
  margin-right: 8px;
  margin-top: 5px;
}
#donations .content-pr .pr_1 .cl p {
  color: white;
  margin-right: 24px;
}
#donations .content-pr .pr_1 .hp {
  display: flex;
}
#donations .content-pr .pr_1 .hp .lightbrown {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: rgb(255, 240, 202);
  margin-right: 8px;
  margin-top: 5px;
}
#donations .content-pr .pr_1 .hp p {
  color: white;
  margin-right: 24px;
}
#donations .content-pr .pr_2 {
  display: flex;
}
#donations .content-pr .pr_2 .as {
  display: flex;
}
#donations .content-pr .pr_2 .as .yellow {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: rgb(255, 240, 202);
  margin-right: 8px;
  margin-top: 5px;
}
#donations .content-pr .pr_2 .as p {
  color: white;
  margin-right: 24px;
}
#donations .content-pr .pr_2 .ftp {
  display: flex;
}
#donations .content-pr .pr_2 .ftp .pink {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: rgb(243, 143, 191);
  margin-right: 8px;
  margin-top: 5px;
}
#donations .content-pr .pr_2 .ftp p {
  color: white;
  margin-right: 24px;
}
#donations .burti {
  position: relative;
}
#donations .burti .chart {
  margin-top: 96px;
  margin-right: 110px;
  margin-left: 294px;
}
#donations .burti .tbc {
  position: absolute;
  top: 215px;
  right: 238px;
  width: 120px;
}

@media (max-width: 1500px) {
  .chart {
    margin-left: 194px !important;
  }
}
#join .back {
  background: url(img/wind.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 96px;
  margin-bottom: 96px;
  border-radius: 12px;
}
#join .back h1 {
  text-align: center;
  padding-top: 93px;
  color: white;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
#join .back .join-donate {
  display: flex;
  justify-content: center;
  padding-bottom: 92px;
}
#join .back .join-donate .jn {
  background: rgb(112, 193, 116);
  padding: 12px 32px;
  color: rgb(29, 33, 48);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  padding: 16px 32px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 16px;
}
#join .back .join-donate .jn:hover {
  background-color: white;
  color: black;
}
#join .back .join-donate .don {
  background: rgb(255, 255, 255);
  padding: 12px 32px;
  color: rgb(29, 33, 48);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  cursor: pointer;
  padding: 16px 32px;
  transition: 0.4s;
  margin-left: 16px;
}
#join .back .join-donate .don:hover {
  background-color: rgb(112, 193, 116);
  color: white;
}

#news .satauri_1 {
  display: flex;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 48px;
}
#news .satauri_1 h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  margin-right: 24px;
  display: inline;
}
#news .satauri_1 .xazi-vert {
  margin-top: 30px;
  width: 1170px;
  height: 1px;
  background: rgb(229, 229, 229);
}
#news .kartebi {
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 96px;
}
#news .kartebi .karti_ .deplini {
  width: 302px;
  height: 192px;
  border-radius: 8px;
}
#news .kartebi .karti_ h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}
#news .kartebi .karti_ p {
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

@media (max-width: 1500px) {
  .xazi-vert {
    width: 825px !important;
  }
  .satauri_1 h1 {
    display: inline-block !important;
  }
}
#events .satauri_1 {
  display: flex;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 48px;
}
#events .satauri_1 h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  margin-right: 24px;
  display: inline;
}
#events .satauri_1 .xazi-vert {
  margin-top: 30px;
  width: 1190px;
  height: 1px;
  background: rgb(229, 229, 229);
}
#events .ori-mwvane {
  display: flex;
  margin-right: 90px;
  margin-left: 110px;
  justify-content: center;
}
#events .ori-mwvane .meore-mwvane {
  margin-left: 24px;
  width: 808px !important;
}
#events .ori-mwvane .pirveli-mwvane {
  background-color: rgb(190, 243, 192);
  display: flex;
  margin-right: 24px;
  border-radius: 8px;
  margin-bottom: 96px;
  width: 808px !important;
}
#events .ori-mwvane .pirveli-mwvane .dge {
  margin-top: 32px;
  margin-left: 40px;
  margin-right: 24px;
}
#events .ori-mwvane .pirveli-mwvane .dge h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 67px;
  color: rgb(29, 33, 48);
}
#events .ori-mwvane .pirveli-mwvane .dge h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
}
#events .ori-mwvane .pirveli-mwvane .det .next-event {
  display: flex;
  margin-top: 40px;
  margin-bottom: 12px;
}
#events .ori-mwvane .pirveli-mwvane .det .next-event p {
  color: rgb(29, 33, 48);
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 600;
}
#events .ori-mwvane .pirveli-mwvane .det .next-event h2 {
  font-weight: 800;
  font-size: 28px;
  line-height: 42px;
  color: rgb(29, 33, 48);
}
#events .ori-mwvane .pirveli-mwvane .det .next-event .xazi-event {
  width: 44px;
  height: 2px;
  background-color: rgb(29, 33, 48);
  margin-left: 23px;
  border: 2px;
  margin-top: 7px;
}
#events .ori-mwvane .pirveli-mwvane .isari button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: white;
  margin-left: 74px;
  border: none;
  margin-top: 64px;
  margin-right: 48px;
  margin-bottom: 71px;
  cursor: pointer;
  transition: 0.5s;
}
#events .ori-mwvane .pirveli-mwvane .isari button:hover {
  background-color: rgb(112, 193, 116);
  border-radius: 0px;
}

footer {
  background-color: black;
  color: white;
}
footer .yvela-seqcia {
  display: flex;
  padding-top: 97px;
  margin-left: 110px;
}
footer .yvela-seqcia .footer-logo img {
  width: 120px;
  margin-right: 117px;
}
footer .yvela-seqcia .seqcia_f_1 {
  margin-right: 88px;
}
footer .yvela-seqcia .seqcia_f_1 ul li {
  margin-bottom: 24px;
}
footer .yvela-seqcia .seqcia_f_1 ul li .yvela-op {
  color: white;
  line-height: 22px;
  opacity: 78%;
}
footer .yvela-seqcia .seqcia_f_1 ul li b {
  color: white;
}
footer .yvela-seqcia .seqcia_f_2 {
  margin-right: 88px;
}
footer .yvela-seqcia .seqcia_f_2 ul li {
  margin-bottom: 24px;
}
footer .yvela-seqcia .seqcia_f_2 ul li .yvela-op {
  color: white;
  line-height: 22px;
  opacity: 78%;
}
footer .yvela-seqcia .seqcia_f_2 ul li b {
  color: white;
}
footer .yvela-seqcia .seqcia_f_3 {
  margin-right: 147px;
}
footer .yvela-seqcia .seqcia_f_3 ul li {
  margin-bottom: 24px;
}
footer .yvela-seqcia .seqcia_f_3 ul li .yvela-op {
  color: white;
  line-height: 22px;
  opacity: 78%;
}
footer .yvela-seqcia .seqcia_f_3 ul li b {
  color: white;
}
footer .yvela-seqcia .seqcia_f_4 h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: left;
  margin-right: 110px;
}
footer .yvela-seqcia .seqcia_f_4 .b-inp input {
  width: 536px;
  height: 64px;
  margin-top: 32px;
  background-color: black;
  border: 1px solid rgba(235, 240, 249, 0.3);
  color: white;
  margin-right: 0px;
  font-size: 18px;
}
footer .yvela-seqcia .seqcia_f_4 .b-inp input:focus {
  border: none;
}
footer .yvela-seqcia .seqcia_f_4 .b-inp button {
  background: rgb(255, 255, 255);
  padding: 12px 32px;
  color: rgb(29, 33, 48);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  padding: 22px 32px;
  margin-bottom: 96px;
}
footer .yvela-seqcia .seqcia_f_4 .b-inp button:hover {
  cursor: pointer;
  background-color: rgb(112, 193, 116);
  color: white;
}/*# sourceMappingURL=pirveli.css.map */